# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
